{% extends 'base.html' %}{% load static %}

{% block extra_js%}
<script src="{% static 'js/parallax.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="row no-gutters">
    <div class="d-none d-md-block col-md-4">
        <img class="hero-image" src="{{MEDIA_URL}}images/hero1.webp">
    </div>
    <div class="hero-image hero-parallax col-md-4 parallax-window text-center" data-position-y="3px "
        data-parallax="scroll" data-image-src="{{MEDIA_URL}}images/hero2.webp">
    </div>
    <div class="d-none d-md-block col-md-4">
        <img class="hero-image" src="{{MEDIA_URL}}images/hero3.webp">
    </div>
    <div class="col-12 d-block d-md-none">
        <img class="hero-image" src="{{MEDIA_URL}}images/hero2.webp">
    </div>
</div>
<div class="hero-overlay text-center">
    <img class="hero-logo" src="{{MEDIA_URL}}logos/sport101_mob4.webp">
    <h2 class="text-white hero-title"> INNOVATE <strong class="text-cyan">|</strong> PERFORM <strong
            class="text-cyan">|</strong> ACHIEVE</h2>
</div>
<div class="container py-5">
    <p class="my-5 mx-auto story-101 font-arial">
        Sport101 was founded with one thing in mind – to help athletes and coaches to reach their full potential. It’s
        that simple.
        <br>
        <br>
        We too are athletes and coaches and over the years we have experienced some of the very best coaching, and some
        of the worst. This is what motivates us to be better…better than we were yesterday and better than anyone else.
    </p>
    <div class="text-center">
        <button class="bg-cyan button mb-5" href="#">
            <h5 class="mx-1 mt-1"><strong>Our Story</strong></h5>
        </button>
    </div>
    <div class="row">
        <div class="col-12 text-center my-5">
            <img class="young-minds-ad" src="{{MEDIA_URL}}logos/YoungMindsLogo1.webp" />
            <div class="young-minds-bg"></div>
        </div>
        <div class="offset-md-1 col-md-6">
            <p class="font-arial">
                Young Minds is the UK’s leading charity fighting for children and young people's mental health.
                <br>
                <br>
                For every booking on any 101 coaching sessions, Sport101 will be making a donation to Young Minds to
                support this incredible charity to help young people who may be struggling with mental health.
                <br>
                ​<br>
                Find out more about Young Minds, their mission and how they work by clicking the link below
            </p>
        </div>
        <div class="offset-md-1 col-md-4 my-5 col-12">
            <button class="bg-cyan button mx-auto" href="#">
                <h5 class="mx-2 mt-2"><strong>Find out more</strong></h5>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="my-5 font-arial"><strong>Some content for you!</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-md-1 col-md-5 my-3">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/wlGvgab9ENY" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-5 offset-md-1 mx-auto">
            <h3 class="my-5 ml-2"><strong>Advice for Young Athletes</strong></h3>
            <p class="my-3 font-arial ml-2"> A great podcast with the amazing Holly Hunt and Time Nurse where they give
                their best tips for young athletes going through trials, managing work load and more! </p>
        </div>
        <div class="col-12 offset-md-1 col-md-5 my-3">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/EnsBPe0LbQk" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-5 offset-md-1 mx-auto">
            <h3 class="my-3 ml-2"><strong>What it takes to be the BEST GK?</strong></h3>
            <p class="my-3 font-arial ml-2"> The 1st podcast episode created with Tom Millington from
                <span><strong><a target="_blank" href="https://www.fortitudehockey.com/" class="text-cyan">Fortitude
                            Hockey</a></strong></span> where we go through some of his tips for goalkeepers and how he
                thinks goalkeeping will develop internationally.
                <br>
                <br>
                Enjoy!
            </p>
        </div>
    </div>
</div>
<div class="row no-gutters page-bottom">
    <div class="col-12 text-center my-5">
        <h2><strong>Come and talk to us</strong></h2>
    </div>

    <div class="hero-contact col-7 d-none d-md-inline hero-parallax parallax-window text-center" data-position-y="3px "
        data-parallax="scroll" data-image-src="{{MEDIA_URL}}images/hero4.webp">
    </div>
    <div class="col-12 d-inline d-md-none">
        <img class="hero-contact" src="{{MEDIA_URL}}images/hero4.webp">
    </div>

    <div class="contact-form bg-grey col-12 col-md-5 mx-auto">
        <h2 class="text-cyan text-center my-5"><strong>Contact Us</strong></h2>
        <form method="POST" href="{% url 'home'%}">
            {% if form %}
            <div class="row mx-auto no-gutters">
                {% for field in form %}
                <div class="col-12 col-md-6 px-4 form-group ">
                    {{ field.errors }}
                    <h6 class="text-white">
                    {{ field.label_tag }}</h6> 
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            <div class="col-12 text-center">
                <button class="bg-cyan button my-4" type="submit">Send! <i class="fas fa-arrow-right"></i></button>
            </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock%}