
body{
font-family: 'Poppins', sans-serif;
}


/*  --------------- Base.html ---------------- */
.logo{
    width:76px;
    height: auto;
}

.young-minds-logo{
    width: 75px;
    height: auto;
}

.nav-item{
    display: inline;
}

ul .nav{
    width: fit-content;
}

.horizontal-list{
    width : 100%;
    text-align: center;
}
.horizontal-list li{
    display: inline;
}


a:hover{
    color: rgb(71,218,202);
}

.footer-info{
    font-weight: 600;
    font-size: 18px;
    word-wrap: normal;
}
.text-cyan{
    color: rgb(71,218,202); 
}

.text-black{
    color: black;
}

.btn-info{
    background-color:  rgb(71,218,202); 
}

/*  -------------------- mobile overlay   ---------------- */


.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  background-position: center top;

}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


.container{
    height: 100vh;
}

/* --------------------------- MEDIA QUERIES --------------*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .young-minds-logo{
    width: 100px;
    height: auto;
}
}

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { }*/

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .young-minds-logo{
    width: 120px;
    height: auto;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }