
body{
font-family: 'Poppins', sans-serif;
max-width: 100vw;
}


/*  --------------- Base.html ---------------- */
.logo{
    width:76px;
    height: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding:0;
}

.young-minds-logo{
    width: 75px;
    height: auto;
}

.nav-item{
    display: inline;
}

ul .nav{
    width: fit-content;
}

.horizontal-list{
    width : 100%;
    text-align: center;
}
.horizontal-list li{
    display: inline;
}


a:hover{
    color: rgb(71,218,202);
}

.footer-info{
    font-weight: 600;
    font-size: 18px;
    word-wrap: normal;
}

.button{
    border: 0 solid transparent;
    border-radius: 30px;
    background-color: rgb(71,218,202);
    padding: 10px 15px;
    color: black;
    transition-timing-function: ease-in-out;
}

.button:hover{
    color: white;
    background-color: black;
    
}

/*  -------------------- Colors   ---------------- */


.text-cyan{
    color: rgb(71,218,202); 
}

.text-black{
    color: black;
}

.btn-info{
    background-color:  rgb(71,218,202); 
}

/*  -------------------- mobile overlay   ---------------- */


.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  background-position: center top;

}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.container{
    width: 75%;
}
/* --------------------------- Home PAGE --------------*/

.hero-image{
    width: 100vw;
    height: auto;
}

.hero-title{
    width:100%;
    font-size: 1.5rem;
}
.hero-overlay{
    position: absolute;
    max-width: 100vw;
    top: 450px;
    z-index: 7;
}

.young-minds-ad{
    width: 75%;
    height: auto;
    z-index: 5;
}

.young-minds-bg{
    background-color: rgb(71,218,202);
    width: 45%;
    height: 75px;
    position: absolute;
    left: 15px;
    top: -20px;
    z-index: -1;
}

.story-101{
    width: 90%;
}

/* --------------------------- MEDIA QUERIES --------------*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .young-minds-logo{
    width: 100px;
    height: auto;
    }
    .hero-title{
        white-space: nowrap;
        font-size: 2rem;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-image{
        width: 33.3vw;
        height:822px;
    }
    .hero-overlay{
            top: 500px;
            width:100%;
        }
    .container{
        width: 90%
    }

    .young-minds-bg{
        height: 140px;
        left: 45px;
        top: -45px;
    }

    .story-101{
        width: 60%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    

    .young-minds-logo{
    width: 120px;
    height: auto;
    }
    .young-minds-bg{
        height: 244px;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .young-minds-bg{
        height: 321px;
    }
 }