{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% endblock %} {% block extra_head %} {% endblock %} {% block css %}
    <!-- Google Fonts CSS-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    {% endblock %} {% block corejs %}
    <!-- FontAwesome JS-->
    <script src="https://kit.fontawesome.com/b3365ba79c.js" crossorigin="anonymous"></script>
    <!-- JQUERY JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    {% endblock %}
    {% block extra_js %}

    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>
</head>

<body>
    
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}



    {% block page_header %}
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row w-100">
                <div class="col-6 text-center">
                    <a class="navbar-brand" href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
                <div class="col-6 text-center">
                    <a class="navbar-brand" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </nav>
    </footer>
    {% block postloadjs %}
    {% endblock %}
</body>

</html>